:root {
  --ajb-primary-color: #000;
  --ajb-secondary-color: #00000020;
  --ajb-gap: 16px;

  --ajb-text-color: #000000;
  --ajb-font-family: inherit;
  --ajb-font-size: inherit;
  --ajb-font-style: inherit;
  --ajb-font-weight: inherit;

  --ajb-bg-color: #ffffffee;
  --ajb-bg-blur: 4px;
  --ajb-bg-z-index: 2147483647;
  --ajb-bg-transition: all 0.2s;
}

.ajax-bar {
  display: flex;
  flex-direction: column;
  column-gap: var(--ajb-gap);
  row-gap: var(--ajb-gap);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--ajb-bg-color);
  backdrop-filter: blur(var(--ajb-bg-blur));
  z-index: var(--ajb-bg-z-index);
  opacity: 0;
  pointer-events: none;
  transition: var(--ajb-bg-transition);

  &.is-open {
    opacity: 1;
    pointer-events: all;
  }

  &-text {
    text-align: center;
    color: var(--ajb-text-color);
    font-family: var(--ajb-font-family);
    font-size: var(--ajb-font-size);
    font-style: var(--ajb-font-size);
    font-weight: var(--ajb-font-weight);
  }
}
