@use './global';

.ajax-bar-loader {
  width: 14px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
  0% {
    box-shadow:
      20px 0 var(--ajb-primary-color),
      -20px 0 var(--ajb-secondary-color);
    background: var(--ajb-primary-color);
  }

  33% {
    box-shadow:
      20px 0 var(--ajb-primary-color),
      -20px 0 var(--ajb-secondary-color);
    background: var(--ajb-secondary-color);
  }

  66% {
    box-shadow:
      20px 0 var(--ajb-secondary-color),
      -20px 0 var(--ajb-primary-color);
    background: var(--ajb-secondary-color);
  }

  100% {
    box-shadow:
      20px 0 var(--ajb-secondary-color),
      -20px 0 var(--ajb-primary-color);
    background: var(--ajb-primary-color);
  }
}
